%%[
var @unsubLink
set @subscriberkey = _subscriberkey
set @pref_token = Lookup('caa_master_preference_tokens_prod','UnsubscribeToken','CustomerId',@subscriberkey)
IF EMPTY(@pref_token) THEN
 set @emailname = emailname_
 set @jobid = jobid
 set @datasourcename = _DataSourceName
 InsertDE('prod_emails_without_tokens',  'SubscriberKey', @subscriberkey, 'EmailName', v(@emailname), 'JobId', v(@jobid), 'DataSourceName', v(@datasourcename))
 RaiseError('No unsubscribe token found for this subscriber', true)
ELSE
 set @unsubLink = Base64Encode(Concat('<a href="https://www.caasco.com/Email-Preference.aspx?token=',@pref_token,'" alias="Unsubscribe" style="color:#333333; text-decoration: underline;">manage your preferences</a>'))
ENDIF
]%%

<head>

  <custom name="opencounter" type="tracking">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title></title><!-- keep it empty -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <!--[if !mso]><!-->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--<![endif]-->
    <!--[if gte mso 9]>
         <xml>
            <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
        </xml>
    <![endif]-->

    <style type="text/css">

    *{ margin: 0; border:0; padding: 0 }

    sup{
      line-height: 0;
      font-size: 75%;
      vertical-align: 3px;
      }

    @media screen and (max-width:699px){

      td[class=thumbspacing] { height: 30px !important; }
      td.thumbspacing{ height: 30px !important; }

      p[class=dsk] { display: none !important;}
      p.dsk{ display: none !important;}

      p[class=mob] { display: inline-block !important;}
      p.mob{ display: inline-block !important;}

      p[class=tab] { display: inline-block !important;}
      p.tab{ display: inline-block !important;}

      *[class=structuremobile]{ width: 92.5% !important; }
      .structuremobile{ width: 92.5% !important; }

      *[class=contentmobile]{ width: 100% !important; height: auto !important; }
      .contentmobile{ width: 100% !important; height: auto !important; }

      #templateColumns{ width:92.5% !important; }
      .templateColumnContainer{ display:block !important; width:100% !important; }
      .columnImage{ height:auto !important; max-width:100% !important; width:100% !important; }
      .leftColumnContent{ font-size:16px !important; line-height:125% !important; }
      .rightColumnContent{ font-size:16px !important; line-height:125% !important; }

      table[class=footerwidth]{ width: 90% !important; }
      table.footerwidth{ width: 90% !important; }

      p.subjectline{ display: none; }
      p[class=subjectline]{ display: none; }

    }

    </style>

  </head>

  <body style="-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;background-color:#ffffff;margin:0;min-width:100%;padding:0;width:100%">


    <!-- PREVIEW LINE -->

    <p class="subjectline" style="mso-table-lspace:0;mso-table-rspace:0;margin:0;color:#ffffff; font-size:8px; line-height:100%; text-align:center"></p>

    <!-- END PREVIEW LINE -->

    <!-- HEADER -->

    <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" st-sortable="banner">
      <tbody>
        <tr>
          <td align="center" style="direction:ltr">
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" align="center" cellpadding="0" cellspacing="0" border="0">
            <tr>
            <td>
            <![endif]-->

            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="structuremobile">
              <tbody>
                <tr>
                  <td width="100%">

                    <table width="600" align="left" cellspacing="0" cellpadding="0" border="0" class="contentmobile">
                      <tbody>

                        <!-- SPACING -->
                        <tr>
                          <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- END SPACING -->

                        <!-- LOGO -->
                        <tr>
                          <td>
                            <a id="caa-logo" href="https://www.getotm.com">
                              <img src="http://image.email-caasco.com/lib/fe2e15707564047a7c1379/m/2/77343293-674c-47a8-a1ee-3feff1d29fd4.jpg" width="150" alt="On the Move">
                            </a>
                          </td>
                        </tr>
                        <!-- END LOGO -->

                        <!-- SPACING -->
                        <tr>
                          <td width="100%" height="25" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- END SPACING -->

                        <!-- HERO -->
                        <tr>
                          <td st-image="banner-image" class="heroimg" bgcolor="#ffffff">
                            <div class="imgpop" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">

                                <span id="switcher" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; overflow: hidden; display: block;">
                                  <img class="contentmobile" width="600" border="0" src="http://image.email-caasco.com/lib/fe2e15707564047a7c1379/m/2/695f1d7e-3fa8-481c-a708-c46ac9adb1ef.jpg" alt="Hero Alt Text" style="display:inline-block; width:100%; max-width: 100% !important; height: auto !important;" align="texttop">
                                </span>

                            </div>
                          </td>
                        </tr>
                        <!-- END HERO -->

                         <!-- PARAGRAPH -->
                        <tr>
                          <td align="left" style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#333333; font-size:16px; padding-top:20px; line-height:22px;">
                            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px;">
                              Hi %%=ProperCase([First Name])=%%,
                            </span>
                          </td>
                        </tr>
                        <!-- END PARAGRAPH -->

                        <!-- PARAGRAPH -->
                        <tr>
                          <td align="left" style="text-align: left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#333333; font-size:16px; padding-top:20px; line-height:22px;">
                            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px;">
                            We love having you as an On the Move<sup>&reg;</sup> (OTM) Member and are thrilled to help you live every day to the fullest &ndash; and get awesome deals while you do it. Here's another one.<br><br>


							Lyft is a proud partner of OTM! Lyft was founded in 2012 with the mission to improve people's lives with the world's best transportation and is committed to effecting positive change for their cities by offsetting carbon emissions from all rides, and by promoting transportation equity through partnerships.<br><br>

                			The partnership will offer OTM Members who are new to Lyft, $10 off each of their first two rides<sup>1</sup>, for a total of $20 in ride credit.
                			Whether it's a quick drive to the mall or a ride to the most popular night spot in town, it's on us.<sup>2</sup><br><br>

							To unlock your $20 in ride credit, click the <strong>Redeem Now</strong> button below and enter your mobile number. You'll get a text to download the app.<br><br>

							<strong>Once you're in the app:</strong><br><br>
							&bull; Sign up for your <strong>NEW</strong> Lyft account<br>
							&bull; Click on <strong>Promos</strong><br>
							&bull; Enter your unique promo code<br><br><br>
                            </span>
                          </td>
                        </tr>
                        <!-- END PARAGRAPH -->

						  <!-- PARAGRAPH -->
                        <tr>
                          <td align="center">
                          	<table width="100%" bgcolor="#f5f5f5" cellpadding="0" cellspacing="0" border="0">
                          		<tr>
                          		<td align="center" style="text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#568101; font-size:16px; padding-top:30px; padding-left:30px; padding-right:30px; line-height:22px;">
                            	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px;">
									           To unlock your $20 in ride credit, click the <strong>Redeem Now</strong> button below, create your <strong>NEW</strong> Lyft account and enter the following offer code:
                            	</span>
                            	</td>
                            	</tr>

                            	<tr>
                          		<td align="center" style="text-align: center; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#568101; font-size:24px; padding-top:10px; line-height:22px;">
                            	<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 24px; line-height:22px;">
								<strong>%%Promo Code%%</strong>
                            	</span>
                            	</td>
                            	</tr>

                            	<!-- SPACING -->
                        		<tr>
                        		<td width="100%" height="40" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        		</tr>
                        		<!-- END SPACING -->
              				      </table>
                          </td>
                        </tr>
                        <!-- END PARAGRAPH -->

						            <!-- PARAGRAPH -->
                        <tr>
                          <td align="center" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#333333; font-size:16px; padding-top:20px; line-height:22px;">
                            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px;">
							<strong>Get on the move!</strong><br><br>
							Offer valid until December 31, 2019.
                            </span>
                          </td>
                        </tr>
                        <!-- END PARAGRAPH -->

						<!-- SPACING -->
                        <tr>
                        	<td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- END SPACING -->

						<!-- CTA -->
                        <tr>
                        <td width="100%">
                          <center>

                            <table border="0" cellspacing="0" cellpadding="0" align="center">
                              <!-- SPACING -->
                              <tr>
                                <td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                              </tr>
                              <!-- END SPACING -->
                              <tr>
                                <td>

                                  <table border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#446402" style="-webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px;">
                                    <tr>
                                      <td style="-webkit-border-top-left-radius: 50px; -moz-border-top-left-radius: 50px; border-top-left-radius: 50px; -webkit-border-bottom-left-radius: 50px; -moz-border-bottom-left-radius: 50px; border-bottom-left-radius: 50px; border-right: 1px solid #446402;"
                                        width="30" bgcolor="#446402">&nbsp;</td>
                                      <td align="center" valign="middle" height="40" bgcolor="#446402" class="body-text" style="color:#ffffff;">
                                        <a href="https://www.lyft.com/rider" target="_blank" style="font-size: 14px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; text-decoration: none; border-radius: 50px; padding: 0px 0px; border: 1px solid #446402; display: inline-block; font-weight:bold;"
                                          class="body-text"><span style="color: #ffffff; cursor:pointer;">Redeem Now</span></a>
                                      </td>
                                      <td style="-webkit-border-top-right-radius: 50px; -moz-border-top-right-radius: 50px; border-top-right-radius: 50px; -webkit-border-bottom-right-radius: 50px; -moz-border-bottom-right-radius: 50px; border-bottom-right-radius: 50px; border-left: 1px solid #446402;"
                                        width="30" bgcolor="#446402">&nbsp;</td>
                                    </tr>
                                  </table>

                                </td>
                              </tr>
                              <!-- SPACING -->
                              <tr>
                                <td width="100%" height="20" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                              </tr>
                              <!-- END SPACING -->
                            </table>

                          </center>
                        </td>
                      </tr>
                      <!-- END CTA -->


                        <!-- PARAGRAPH -->
                        <tr>
                          <td align="left" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color:#333333; font-size:16px; padding-top:20px; line-height:22px;">
                            <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height:22px;">
                              On the Move Team
                            </span>
                          </td>
                        </tr>
                        <!-- END PARAGRAPH -->

                        <!-- SPACING -->
                        <tr>
                        	<td width="100%" height="40" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                        </tr>
                        <!-- END SPACING -->
                        </tbody>
                      </table>
                    </td>
                  </tr>

                </tbody>
              </table>
            </td>
            <!--[if (gte mso 9)|(IE)]>
          </td>
        </tr>
      </table>
      <![endif]-->
    </tr>


  </tbody>
</table>
<!-- END HEADER -->

<!-- FOOTER -->
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="full-width" bgcolor="#f4f4f4" style="margin:0 auto; table-layout:fixed;">
  <tr>
    <td width="100%" align="center" bgcolor="#f5f5f5" style="vertical-align:top; text-align:center;">
      <center>
        <table width="600" class="structuremobile full-width-inner footer-width-inner footerwidth" align="center" border="0" cellpadding="0" cellspacing="0" style="table-layout:fixed; font-family:Arial, sans-serif; font-size:11px; color:#333333; line-height: 16px; text-align:center; max-width: 600px;">
          <!-- Row Spacer -->
          <!-- SPACING -->
          <tr>
            <td width="100%" height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
          </tr>
          <!-- END SPACING -->

          <tr>
            <td width="100%">
              <left>

                <table width="100%" class="contentmobile full-width-inner footer-width-inner" style="table-layout:fixed;">

                  <!-- BLOG/MAG LINKS -->
                  <tr>
                    <td style="text-align:left; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; word-break:keep-all">
                      <left>
                        <span style="mso-table-lspace:0;mso-table-rspace:0;margin:0; color:#575a61; font-size: 12px;">
                          Follow Us:</span>
                        </left>
                      </td>
                    </tr>
                    <!-- END BLOG/MAG LINKS -->

                    <!-- SPACING -->
                    <tr>
                      <td width="100%" height="5" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                    </tr>
                    <!-- END SPACING -->

                    <!-- Social Networks Images -->
                    <tr>
                      <td style="font-family: Helvetica, arial, sans-serif; font-size: 14px; color: #ffffff; text-align:left; line-height: 24px;">
                        <left>
                          <p color="#ffffff" style="color: #fff;">
                            <a href="https://www.facebook.com/Get-OTM-146591992856679" target="_blank" style="color: #fff; text-decoration: none;" border="0">
                              <img alt="Facebook" src="http://image.email-caasco.com/lib/fe2e15707564047a7c1379/m/2/a2ff4976-a6d7-4f75-a94d-693705b8068c.png" width="22" height="36" style="display:inline-block; border:0 !important" bgcolor="#ccc" border="0">
                            </a>&nbsp;
                            <a href="https://www.instagram.com/get_otm/" target="_blank"
                              style="color: #fff; text-decoration: none;" border="0">
                              <img alt="Instagram"
                                src="http://image.email-caasco.com/lib/fe2e15707564047a7c1379/m/2/84e84e73-d22e-41a4-a0c1-41b1735a653d.png"
                                width="36" height="36" style="display:inline-block; border:0 !important" bgcolor="#ccc">
                            </a>&nbsp;
                            <a href="https://twitter.com/get_otm" target="_blank" style="color: #fff; text-decoration: none;" border="0">
                              <img alt="Twitter" src="http://image.email-caasco.com/lib/fe2e15707564047a7c1379/m/2/da518c55-7827-4f7c-8442-deb54788f3e0.png" width="36" height="36" style="display:inline-block; border:0 !important" bgcolor="#ccc" border="0">
                            </a>&nbsp;
                          </p>
                        </left>
                      </td>
                    </tr>
                    <!-- End Social Networks Images -->


                    <!-- SPACING -->
                    <tr>
                      <td width="100%" height="10" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
                    </tr>
                    <!-- END SPACING -->


                    <!-- Copyright -->
                    <tr>
                      <td align="left" valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
                        <!--LEGAL TEXT-->
                        <p style="font-size:10px; line-height:140%; color:#333333;">
                        If you no longer wish to receive these emails, please %%=Base64Decode(@unsubLink)=%%.
                        <br><br>
						CAA South Central Ontario (CAA SCO) respects the privacy of its Members in accordance with its Privacy Policy. A copy of this policy can be obtained <a style="color: #333333; text-decoration: underline;" href="https://getotm.com/~/media/On-The-Move/assets/pdf/On-the-Move-Privacy-Policy.ashx" target="_blank">here</a>.<br><br>

						<sup>1</sup> Promotion valid for new Lyft users only. Limited quantity available. Promotion code is valid for $10CAD off each of two rides.<br><br>
						<sup>2</sup> Rides between Jul 1, 2019 12:00 AM EDT and Dec 31, 2019 11:59PM EDT. Pickup and drop-off must be within Toronto and GTHA. Visit <a style="color: #333333; text-decoration: underline;" href="https://www.lyft.com/rider/cities/greater-toronto-area-on" target="_blank">https://www.lyft.com/rider/cities/greater-toronto-area-on</a> for a map of Lyft's GTHA coverage area. Does not apply to rides with added stops. Cannot be combined with other ride credit or offers. Subject to Lyft's Terms of Service. Maximum amount covered per ride is $10CAD, any additional ride cost will be the responsibility of the Lyft rider.



                        <br><br>
                        &copy; %%=Format(Now(), "yyyy")=%% CAA Club Group. All rights reserved. Serving Members in Southern and Central Ontario and Manitoba.
                        <br>
                        &reg; On the Move is a registered trademark of the Alberta Motor Association Insurance Company, used with permission by CAA Club Group.
                        <br>
                        &reg; CAA trademarks are owned by, and use is authorized by, the Canadian Automobile Association.
                        <br><br>
                        %%Member_Busname%% %%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%</p>
                        </td>
                      </tr>

                    </table>

                  </left>
                </td>
              </tr>

              <!-- SPACING -->
              <tr>
                <td width="100%" height="30" style="font-size:1px; line-height:1px; mso-line-height-rule: exactly;">&nbsp;</td>
              </tr>
              <!-- END SPACING -->

            </table>
          </center>
        </td>
      </tr>
    </table>
    <!-- END FOOTER -->
  </body>

  </html>
